
<br>
<div class="example-button-row">
<a routerLink="crisis-list">
  <button mat-raised-button color="primary">Crisis list</button>
</a>
<a routerLink="heroes-list">
  <button mat-raised-button color="primary">Heroes List</button>
</a>
<a routerLink="name-editor">
  <button mat-raised-button color="primary">Name Edit</button>
</a>
<a routerLink="user-input">
  <button mat-raised-button color="warn">User Input</button>
</a>
</div>

<p [appHighlight]="color">Highlight me!</p>



<router-outlet></router-outlet>
